
<div>
    <div class="row">
        <div class="col-md-6 col-sm-6 no-results">
            <p>Sorry, there are no matching properties. Try widening the search criteria.</p>
        </div>
    </div>
</div>