@using A4U3.Web.ViewComponents

@model Property

@{
    ViewBag.Title = "Details";
}

<h2>Property Details - As seen by the public</h2>
<br />

@await Component.InvokeAsync("PropertyPublic", new { propertyId = Model.PropertyId, featureToHighlight = 0, pictureToHighlight = 0 })



<br />
<p class="navigation">
    @Html.ActionLink("Edit", "Edit", new { id = Model.PropertyId }) |
    @Html.ActionLink("Back to List", "List")
</p>
