@model A4U3.Web.Models.ViewModel.WrapperVM

@{
    ViewBag.Title = "Rentals";
}

<div class="row">
    <div class="col-md-12">
        <h1>Properties and Rooms to Let</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <a class="btn btn-primary" href="~/Rental/Map">Switch to Map View &nbsp;<span class="glyphicon glyphicon-globe"></span></a>

        @{
            if (Model.Properties.Any())
            {
        <!-- The initial counter display done by this code. For later ajax refreshes, see JS RefreshCounter()-->
            <span id="counter-display">
                <span class="grey">&nbsp;&nbsp;Showing </span>
                <strong>1 to @Model.Properties.Count()</strong>
                <span class="grey"> of </span>
                <strong>@Model.Properties.Count()</strong>
                <span class="grey">results</span>
            </span>
            }
}
        <span id="ajax-progress">
            &nbsp;&nbsp;Searching...&nbsp;<img src="~/Content/images/ajax-loader.gif" alt="ajax loader">
        </span>
        <br />
        <br />
    </div>
</div>

<div>
    <!--TODO Not in MVC6 - replace-->
    <!-- NB Ajax.BeginForm requires jquery.unobtrusive-ajax.js to be included on the page-->
    <!-- Also, this MS Ajax approach does not get much internet love. Please seem to
        prefer to use Jquery $.ajax(url, type, data, sucess)-->

    @*@using (Ajax.BeginForm("Index2", "Rental",
     new AjaxOptions()
         {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "target"
         }))
    {
        @Html.Partial("_Filter", Model.Filter);
    }*@
</div>

<!-- Do NOT remove. This Div is required for the property map link-->
<div id="mapDiv" style="display: none; height: 400px; width: 500px;"></div>

<div id="target">
    @Html.Partial("_Details", Model.Properties)
</div>

@section scripts
{
    <script src="~/js/a4u/a4u.setup-autopost.js"></script>
    <script src="~/js/a4u/a4u.property-to-map.js"></script>
    
    <script type="text/javascript">

        // Setup ajax begin/end busy indicator and counter refresh

        $(document).ajaxStart(function() {
               $('#ajax-progress').show();
               $('#counter-display').html('');
            })
            .ajaxStop(function() {
                $('#ajax-progress').hide();
                RefreshCounter();
            });

        function RefreshCounter() {
            var count = $('#property-count').val();
            var display = $('#counter-display');

            var html = '';
            if (count > 0) {
                html = '<span class="grey">&nbsp;&nbsp;Showing </span><strong>1 to ' + count
                    + '</strong><span class="grey"> of </span><strong>' + count
                    + '</strong><span class="grey"> results</span>';
            }

            display.html(html);
        }
        //$('#ajax-progress').hide();  // now doing this in site.css
    </script>
}
