
<div class="row">
    <div class="col-md-12">
        <h1>CMS Property Details</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info property-listing">
            <div class="panel-heading address">
                <span>
                    <a editable-text="vm.property.address" onaftersave="updateProperty()">
                        {{ vm.property.address }}
                    </a>
                </span>
                <span class="rate pull-right">£{{vm.property.ratePCM }} <abbr title="per calendar month">pcm</abbr></span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-9">
                        
                        <div class="appkeyinfo">
                            <div>
                                <span class="text-info">Rate: </span>£
                                <a href="#" editable-number="vm.property.ratePCM" onaftersave="updateProperty()">
                                    {{ vm.property.ratePCM || 'empty' }}
                                </a>
                            </div>
                            <div>
                                <span class="text-info">Bedrooms:</span>
                                <a href="#" editable-number="vm.property.bedrooms" e-min="1" onaftersave="updateProperty()">
                                    {{ vm.property.bedrooms || 'empty' }}
                                </a>
                            </div>
                            <div>
                                <span class="text-info">Furnishing:</span>

                                <a href="#" editable-select="vm.property.furnishing" e-ng-options="s.value as s.text for s in furnishings" onaftersave="updateProperty()">
                                    {{ showFurnishings() }}
                                </a>
                            </div>
                            <div>
                                <span class="text-info">PostCode: </span>£
                                <a href="#" editable-text="vm.property.postCode" onaftersave="updateProperty()">
                                    {{ vm.property.postCode || 'empty' }}
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-3 app-pictures">
                        <div show-property-pics property="vm.property"></div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-8">
                        <table class="table table-bordered table-hover table-condensed">
                            <tr style="font-weight: bold">
                                <td style="width:75%">Feature</td>
                                <td style="width:25%">Edit</td>
                            </tr>

                            <tr ng-repeat="feature in vm.property.features">
                                <td>
                                    <!-- editable feature (text with validation) -->
                                    <span editable-text="feature.description" e-name="description" e-form="rowform">
                                        {{ feature.description || 'empty' }}
                                    </span>
                                </td>

                                <td style="white-space: nowrap">
                                    <!-- form -->
                                    <form editable-form name="rowform" onbeforesave="saveFeature($data)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == feature">
                                        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                                            save
                                        </button>
                                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                                            cancel
                                        </button>
                                    </form>
                                    <div class="buttons" ng-show="!rowform.$visible">
                                        <button type="button" class="btn btn-primary" ng-click="rowform.$show()">edit</button>
                                        <button type="button" class="btn btn-danger" ng-click="removeFeature($index)">del</button>
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <button type="button" class="btn btn-default" ng-click="addFeature()">Add row</button>
                    </div>
                </div>

                <br />
                <div class="row">
                    <div class="col-xs-12">
                        <a editable-textarea="vm.property.description" e-rows="7" e-cols="40">
                            {{ vm.property.description }}
                        </a>
                    </div>
                </div>

                <br />
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <!-- NB ng-show interferes with the display of google maps. Don't use!-->
                        <div id="map" style="height:400px; display:none;">
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <a ng-show="!vm.frommap" href="#/" class="btn btn-sm btn-default btn-primary"><i class="fa fa-angle-left"></i> Back to List</a>
            <a ng-show="vm.frommap" href="/Rental/Map" class="btn btn-sm btn-default btn-primary"><i class="fa fa-angle-left"></i> Back to Map</a>
        </div>
    </div>
</div>

