
<div class="row">
    <div class="col-md-12">
        <h1>CMS Property Details</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info property-listing">
            <div class="panel-heading address">
                <span>
                    <a editable-text="vm.property.address" onaftersave="updateProperty()">
                        {{ vm.property.address }}
                    </a>
                </span>
                <span class="rate pull-right">£{{vm.property.ratePCM }} <abbr title="per calendar month">pcm</abbr></span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-9">
                        <div show-property-features property="vm.property"></div>
                        <br />
                        <div class="appkeyinfo">
                            <div>
                                <span class="text-info">Rate: </span>£
                                <a href="#" editable-number="vm.property.ratePCM" onaftersave="updateProperty()">
                                    {{ vm.property.ratePCM || 'empty' }}
                                </a>
                            </div>
                            <div>
                                <span class="text-info">Bedrooms:</span>
                                <a href="#" editable-number="vm.property.bedrooms" e-min="1" onaftersave="updateProperty()">
                                    {{ vm.property.bedrooms || 'empty' }}
                                </a>
                            </div>
                            <div>
                                <span class="text-info">Furnishing:</span>

                                <a href="#" editable-select="vm.property.furnishing" e-ng-options="s.value as s.text for s in furnishings" onaftersave="updateProperty()">
                                    {{ showFurnishings() }}
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-3 app-pictures">
                        <div show-property-pics property="vm.property"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <a editable-textarea="vm.property.description" e-rows="7" e-cols="40">
                            {{ vm.property.description }}
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <!-- NB ng-show interferes with the display of google maps. Don't use!-->
                        <div id="map" style="height:400px; display:none;">
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <a ng-show="!vm.frommap" href="#/" class="btn btn-sm btn-default btn-primary"><i class="fa fa-angle-left"></i> Back to List</a>
            <a ng-show="vm.frommap" href="/Rental/Map" class="btn btn-sm btn-default btn-primary"><i class="fa fa-angle-left"></i> Back to Map</a>
        </div>
    </div>
</div>

