@{
    ViewBag.Title = "FinancialServices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h1>Financial Services</h1>
    </div>
</div>

<div class="row">
    <article class="col-md-8 col-sm-8">
        <ul>
            <li>Free independent mortgage advice</li>
            <li>Mortgages from the ‘whole of market’</li>
            <li>Residential and buy-to-let mortgages</li>
            <li>House purchase and re-mortgages'.</li>
            <li>Life, sickness and unemployment insurances.</li>
            <li>Investment advice.</li>
            <li>Pensions.</li>
        </ul>

        <p>
            Accom 4You recommends our independent financial advisors. Contact us to arrange your no obligation appointment.
            First you find the house of your dreams, and our independent financial advisors will make every effort to find the best deal for you, to make that house your home.
        </p>

        <p>For further information <a asp-controller ="Home" asp-action="Contact">Contact us</a></p>

        <p><strong>YOUR HOME IS AT RISK IF YOU DO NOT KEEP UP REPAYMENTS ON A MORTGAGE OR OTHER LOAN SECURED ON IT.</strong></p>
    </article>

    <aside class="col-md-3 col-sm-3 hidden-xs">
        <img src="~/assets/images/money-300x300.png" class="img-responsive" alt="pile of money" title="v1.0.1" />
    </aside>
</div>
