@{
    ViewData["Title"] = "Home Page";
    ViewBag.Title = "Tennant Services";
}

@inject IOptions<ConfigOptions> options

<div class="jumbotron">
    <h1>South Shields Property Management</h1>

    <p>
        If you are looking for a property to rent in South Tyneside then Accom 4You may have the solution.
    </p>
    <p>
        <a href="~/App"><strong>With a wide selection of properties</strong></a>
        to let in South Tyneside, finding the perfect property letting has never been easier.
        We offer tenants a range of services including tenant contents insurance, valid gas & EPC and electrical safety certificates on all properties
        as required, DSS can sometimes be accepted, and much more.
    <p />

    <p>
        <small>
            For more information or to arrange a viewing, please contact us
            on @options.Value.ContactTel or email
            <a href="mailto: @options.Value.ContactEmail ">
                @options.Value.ContactEmail
            </a>
        </small>
    </p>
</div>

<div class="row">
    <div class="col-md-6">
        @Html.Partial("_Carousel")
    </div>
    <div class="col-md-6">
        <h2>Landlord Services</h2>
        <p>
            Accom 4You is all about simplicity and efficiency.
            We offer a wide range of landlord services throughout South Tyneside and our service offering is second to none.
            We provide the following benefits and services to landlords looking to let their properties:
        </p>
        <div class="row">
            <div class="col-md-6">
                <ul>
                    <li>Gas, EPC and electrical safety certificates arranged</li>
                    <li>Fully itemised monthly statements</li>
                    <li>Door step collections of rent can be provided</li>
                    <li>Accredited member of the National Landlords Association</li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul>
                    <li>Landlord fees 15%</li>
                    <li>Discounted rate for 4 or more properties under management</li>
                    <li>Guarantors Agreements</li>
                    <li>Buildings Insurance</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Property Maintenance</h2>
        <p>We offer a bespoke property maintenance service offering a reliable service for all property needs covering:</p>
        <div class="row">
            <div class="col-md-6">
                <ul>
                    <li>Plumbing</li>
                    <li>Painting & Decorating</li>
                    <li>Joinery</li>
                    <li>Roofing</li>
                    <li>Plastering</li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul>
                    <li>Electrical</li>
                    <li>Gas</li>
                    <li>Gardening</li>
                    <li>Carpet fitting</li>
                    <li>Anything else needing work</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h2>Financial Services</h2>
        <p>Accom 4You recommends our independent financial advisors. Contact us to arrange your no obligation appointment.</p>
        <div class="row">
            <div class="col-md-8">
                <ul>
                    <li>Free independent mortgage advice</li>
                    <li>Mortgages from the ‘whole of market’</li>
                    <li>Residential and buy-to-let mortgages</li>
                    <li>House purchase and re-mortgages</li>
                    <li>Life, sickness and unemployment insurances</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>Investment advice</li>
                    <li>Pensions</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>For Tennants</h2>
        <p>
            We provide an extensive register of both <a href="~/App"><strong>Furnished and Unfurnished</strong></a>
            properties in the South Tyneside area. If you want to rent on a short term basis or as a more permanent move we offer tenancies from 6 months onwards although in some cases shorter terms may be available.
        </p>
    </div>
    <div class="col-md-6">

    </div>
</div>
