@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Landlords";
}

<div class="row">
    <div class="col-md-12">
        <h1>For Landlords</h1>
    </div>
</div>

<h3>A Quality Letting & Property Management Service</h3>

<p class="lead">There are many important choices to be made when you decide to let out your property. It’s a big step to take so, understandably, you want to be sure you select the best company out there to help you achieve your goals, whilst protecting your property. We can bring to the table expert advice due to our advantage of many years experience in letting and property management, in a friendly, professional manner.</p>

<p>In order to ensure things run as smoothly at your end as possible we can offer you:</p>

<ul>
    <li>Expert advice on the right rental valuation and the most suitable type of tenant.</li>
    <li>The right approach to marketing your property. We operate accompanied viewings and a broad base advertising strategy, including the internet advertising boards and high-circulation newspapers.</li>
    <li>We operate a thorough selection process and full referencing.</li>
    <li>Provision of full inventory and schedule of condition along with full-colour photographs.</li>
    <li>Rental income insurance is offered on all tenants passing our strict referencing and credit checking procedures, ensuring that   you always receive the correct return on your investment.</li>
    <li>Deposits are registered with a government approved deposit scheme, giving security not only to tenants, but also to landlords against any damage or rent arrears at the end of a tenancy.</li>
    <li>Computerised rent accounting enables us to supervise the payments of rentals efficiently.</li>
    <li>We offer a doorstep rent collection service which enables us to keep tenants happy and helps to eliminate unnecessary rent arrears.</li>
    <li>We provide letting statements to our landlords monthly detailing all transactions during the previous month.  End of year statements can be provided on request to help with your personal accounting.</li>
    <li>Organising routine repairs and maintenance with either our own in house team or one of our highly reputable contracted firms.</li>
</ul>

<h3>The Right Service For You</h3>

<p>The service we provide is tailored to the individual needs of each landlord. We strive to provide a complete service that allows the owner of a rented property to go about their life without having to concern themselves with the often time consuming and stressful day-to-day management of a tenancy.</p>

<h2>Terms & Conditions and Fees</h2>

<h3>Full Management Service</h3>

<p>This service includes:</p>

<ol>
    <li>Securing a suitable tenant through methods including matching applicants to your property from our computerised database, advertising online on our website and specialist lettings portals such as Rightmove.co.uk and Globrix.com, advertising in local and specialist publications where relevant, & erecting a ‘to let’ board at the property if requested. The property will be included in our regular property list and circulated. We will arrange for viewings on your property, accompanied where appropriate.</li>
    <li>Obtaining appropriate references and full credit checks of prospective tenants.</li>
    <li>Collection of the deposit and first instalment of rent.</li>
    <li>Preparing a Tenancy Agreement and any relevant notices.</li>
    <li>Arranging and preparation of an Inventory of your property and contents, as a mutual Landlord/Tenant safeguard where required.</li>
    <li>Monthly rent collection and payment.</li>
    <li>Payment of the proceeds directly into your bank account, or by cheque where required.</li>
    <li>Submitting accounts to you and your accountant if requested.</li>
    <li>Where possible, make arrangements for meter readings at commencement and termination of the Tenancy.  We also try to ensure that accounts are transferred into the Tenant’s name for the duration of the Tenancy.</li>
    <li>Arranging for the Tenant to be checked in and out of the property as required.</li>
    <li>Our Maintenance Manager will carry out a routine inspection of the property, if no serious defect requiring an inspection has been reported to us in the meantime. It should be appreciated that any such inspection and assessment of defects which are brought to our notice will be of a cursory nature and embrace only apparent or obvious defects; it will not amount in any way to a structural or complete survey.</li>
    <li> Management includes the investigation of any defects that are brought to our attention. Minor repairs will be arranged under our normal management service.</li>
</ol>

<h3>Let Only</h3>
<p>This service includes, but is not limited to, 1, 2, 3, and 4 as detailed in the Full Management Service section. </p>

<h3>Management Agreement</h3>
<p>Signature by both parties to the Agency Agreement establishes an Agreement only. It does not create a contract. </p>

<h3>Void Periods</h3>
<p>Charges for our management facility will not be applied to your account in periods where your property is vacant. </p>

<h3>Rental</h3>
<p>We will agree with you a rent to be quoted to potential Tenants. Unless specifically agreed otherwise, this will include all payments for which you are responsible, such as water rates, ground rents, etc. </p>

<h3>Insurance</h3>
<p>You should make certain that your property and contents are adequately insured and that your policy covers lettings whether furnished or unfurnished.  It is important that your insurer is informed of your intention to let the property, as failure to do so may invalidate any policy you currently hold.  We also strongly recommend rental income insurance which we can arrange for you at minimal cost.</p>

<h3>Presentation</h3>
<p>To maximise the letting potential of your property and to minimise the periods when the property is empty, we strongly recommend that professional cleaners are contracted to thoroughly clean the property once it is vacated.  Internally, the property should be freshly decorated, clean and tidy throughout.  Externally, gardens and yards should be tidy and cleared of any rubbish, and lawns should be maintained with pathways free of weeds and grass. </p>

<h3>Tenancy Agreement and Charges</h3>
<p>A standard form of Tenancy Agreement is used. A charge for this is incorporated in the letting fee unless otherwise stated. We reserve the right to charge this fee. We would point out that we are not Solicitors and cannot offer you formal legal advice. We recommend that you consult your solicitor should you require further information on your legal position as a landlord. </p>

<h3>Rent Remittances</h3>
<p>Although we insist that tenants residing in properties under our full management pay monthly rent direct to our Client Account, it is important to realise any cheque received can take around five working days for the Bank to clear the cheque.  As soon as rent is received and cleared into our bank account, the balance (less any deduction) will be forwarded to you within five working days.</p>

<h3>Leaseholders/ Mortgagors</h3>
<p>If your property is leasehold, please ensure that:</p>

<ul>
    <li>Any intended furnished letting is permitted by the terms of your lease.</li>
    <li>Any Tenancy is for a period expiring prior to the termination of your lease.</li>
    <li>The written permission of the Landlord, if necessary, is obtained for sub-letting.</li>
</ul>

<p>If the property to be let is subject to a mortgage, please ensure that:</p>

<ul>
    <li>Permission is obtained from the mortgagee to let the property (it is advisable to obtain such permission at an early date prior to any letting).</li>
    <li>Any joint owner’s permission has been received and that there name(s) appear on the Tenancy Agreement. </li>
</ul>

<h3>Changes of Tenancy</h3>
<p>If, during our Management, there is a change of Tenancy, we will arrange any cleaning and minor repairs of the property required for new tenants, as instructed by the owner of the property. The costs will be met by the Landlord. </p>

<h3>Instruction of Solicitors</h3>
<p>Should any rent arrears or breaches of covenant be brought to our attention you will be informed. Thereafter, should legal action be thought necessary, you will be responsible for instructing your own solicitor and any fees or charges pertaining thereto. </p>

<h3>Schedule of Condition</h3>
<p>Prior to the start of a tenancy we recommend that a full photo inventory is produced to protect the landlord against any damage that may be caused by the tenant to the property.   At the termination of the tenancy, the Schedule of Condition will be referenced.  Any damage or dilapidation which may have occurred during the tenancy is recorded on the schedule, copies of which are sent to both the Landlord and Tenant who mutually agree the amount that is to be deducted from the Deposit.  The deposit can be held by Accom 4You as Agent if required, and in this case will be registered with Tenancy Deposit Solutions Ltd.  Should a dispute occur between the landlord and the tenant, the Alternative Dispute Resolution (ADR) will arbitrate, as provided by the Chartered Institute of Arbitrators. </p>

<h3>Income Tax and Management Act 1970</h3>
<p>Income from UK property is subject to UK Income Tax even if the Landlord is resident aboard, or a Company registered overseas. In these circumstances, the Inland Revenue holds the agent liable for tax on the Landlord’s letting income (or the Tenant, if the rent is being paid directly to the Landlord). If it appears that we will be so assessed, we will set aside monies from the rent to meet our potential liability to the Inland Revenue. We cannot undertake to meet any tax claims or returns, or negotiate with the Inland Revenue on your behalf.</p>
<p>For further information please visit <a href="http://www.hmrc.gov.uk/cnr/nr_landlords.htm">HMRC Landlords</a></p>

<h3>Indemnities</h3>
<p>The Landlord agrees to indemnify us as agents against any costs, expenses or liabilities incurred or imposed on us provided that they were incurred on his behalf in pursuit of our normal duties. We therefore recommend a landlord should prudently arrange insurance cover in respect of such matters for the term of the tenancy.
    Every endeavour will be made to ensure the Landlord has the protection allowed in law to enable him to obtain possession of his property.  In addition, every effort is made to provide a satisfactory Tenant but no responsibility/liability can be accepted by the Agent for damage caused to property or rental loss.  We remind landlords that it is possible to insure against both damage and rental loss.</p>

<h3>Signature</h3>
<p>A client’s signature on the Agency Agreement Statement signifies recognition and acceptance of the aforementioned conditions. </p>

<h3>Withdrawal</h3>
<p>Either party may withdraw from this Agreement by giving two months notice. </p>

<h3>Our Fees</h3>
<p>Please contact us if you are interested in our services for our most up to date and competitive prices. </p>

<h3>RENTING PROPERTY</h3>
<p>Things you need to know</p>
<ul>
    <li>You will be the Landlord, not the agent.</li>
    <li>You should obtain the permission of your Mortgage Company or Building Society.</li>
    <li>You should retain responsibility for maintaining insurance (Building and any furnishings).</li>
    <li> It is possible to insure against rental loss.</li>
    <li>You will be responsible for the cost of all repairs and maintenance.</li>
    <li>Expenditure on maintenance agreements/repairs are tax deductible.</li>
    <li>You will need to pay any ground rent chargeable.</li>
    <li>In order to give your property the best chance of letting, decoration and any furniture included should be clean and presentable.</li>
    <li>Operating instructions should be provided for all electrical equipment supplied.</li>
    <li> In furnished accommodation it is your choice to leave crockery, cutlery and cooking utensils.  This will be your responsibility as a landlord to check these items.</li>
    <li>No sheets, towels etc. are necessary.</li>
    <li>In vacant property the refrigerator/freezer should be left off with the door open.</li>
    <li>All carpets should be left in a clean condition, ideally shampooed.</li>
    <li> If the garden is to be maintained by the tenants they should be left well cared for with secure fencing.</li>
    <li>Gas and electricity meter readings will be taken from the property prior to the handover of any keys.Gas and electricity meter readings will be taken from the property prior to the handover of any keys.</li>
    <li>You will be responsible for the Council Tax due when the property is not occupied by tenants.</li>
    <li>You may be responsible for the payment of water rates.</li>
    <li>If you require us to refer to specialist suppliers in order to complete repairs we can do so if supplied with the necessary details.</li>
    <li>You should be aware of and comply with the Fire and Furnishings (Fire) (Safety) Regulations 1988 (amended 1989, 1993 & 1996), the Electrical Equipment (Safety) Regulations Act 1994, and the Gas Safety (Installation and Use) Regulations Act 1994, as well as providing an Energy Performance Certificate and an HMO licence where required.</li>
</ul>

<h3>How to buy safe furniture</h3>
<p>If you purchase furniture from persons selling in the course of a business then that furniture should already comply fully with the regulated requirements.  However, experience has shown that much of the furniture sold by second-hand dealers or private individuals may not comply, so extra care is needed.
    It is not easy to determine by external examination only whether or not furniture does comply with the Regulations.  However, any furniture that does comply would have originally been sold with a permanent label stitched in (usually on the base of the furniture or on the underside of a cushion).  The label is headed “Carelessness Causes Fire”.  Consequently, an easy check is to look for the label.  Any upholstered furniture that does not bear such a permanent label should be regarded as suspect.  Mattress and bed bases should bear a blue label indicating compliance with BS7177:1991.</p>

<h3>Access</h3>
<p>Landlords must allow their tenant peaceful and quiet enjoyment of the property except in a genuine emergency i.e. major gas or water leak, fire etc.  Any intended visit for maintenance or inspection must be preceded by 48 hours written notice.</p>

<h3>Gardens</h3>
<p>All gardens and yards should be left tidy and rubbish-free with any lawns freshly cut.  We recommend that tools are left for tenants to maintain the garden themselves, although you may prefer to arrange the services of a gardener.</p>

<h3>Security</h3>
<p>Having a burglar alarm is not compulsory but it may be a facility which a prospective client would look for.  We would advise that all external doors be fitted with five lever mortise locks or alternative BS 3621 compliant.  It is also advisable to ensure that all windows capable of being opened are fitted with window locks.  This is often a requirement of household insurance.</p>

<h3>Keys</h3>
<p>Prior to marketing of the property, we request that landlords cut, and preferably provide us with, 3 sets of keys for the property.  The landlord should retain the original set.  This allows us to provide the tenant(s) with two sets of keys, as well as enabling us to maintain a set in case of emergency or loss by the tenant.  Should we only be provided with one set of keys, a set charge per key required will be charged to the landlords account. </p>

<h3>Housing Benefit</h3>
<p>Housing benefit is a benefit paid to individuals who wish to rent a property but who do not have sufficient income to support the contractual rent.  Housing Benefit is means tested and is subject to a number of Regulations limiting its scope.  It is administered by the Local Authority but the “Market Rent”, the rent used to establish the appropriate benefit level, is set by the Rent Officer Service.  We advise Landlords to accept as the contractual rent the market rent set by the Rent Officer.
    You are advised that Housing Benefit is paid in arrears regardless of the contract conditions.  There may be an initial delay before payments are received whilst the initial assessment is made.  If you wish to accept a tenant who requires Housing Benefit to pay the rent, please ensure that you have sufficient money in your bank account to meet your mortgage payments.
    The Agency Agreement requires you to specify whether a Housing Benefit claimant would be acceptable to you.  Our representative will advise where appropriate. </p>

<h3>Legal Issues & Safety</h3>
<p>Safety of Goods & Equipment Supplied with Let Accommodation
    General Product Safety Regulations 1994
    Current consumer safety legislation requires goods, including such items as gas cookers/heaters, electric toasters, televisions, furniture, etc., supplied in the course of a business to be reasonably safe.  Practically all goods are covered, both new and second-hand.  All goods have to satisfy general safety provisions.  Certain ‘high risk’ goods, including electrical equipment, upholstered furniture, gas cooking appliances, etc. are covered by requirements contained in specific safety regulations.
    The supply of such goods in rented accommodation, in the course of a business, is considered to be a hire transaction and as such is covered by consumer safety legislation.  The following notes are intended as a guide to the law.   
    Contravention of any of the regulations, as detailed in the guidance notes, is a criminal offend and could render you liable to prosecution.  Maximum penalties are a fine of up to £5,000 per offence or imprisonment for up to 6 months, or both.
    Accom 4You can help ensure your ongoing compliance and arrange on your behalf for any of the following tests to be carried out on your properties by one of our professional contractors at a highly competitive price.  All prices are negotiated exclusively for our clients.  Please contact us for more information and our most up to date prices.</p>

<h3>Energy Performance Certificate (EPC)</h3>
<p>From 1st October 2008 an EPC is required, by law, for all properties advertised as to let.  This document advises potential tenants on the energy efficiency of the property, and provides a report to landlords on ways to improve this.  The report considers aspects of the property such as heating system in place, windows, doors, cavity wall & loft insulation etc.  Energy Performance Certificates are valid for 10 years from the date of the report.  A fine of £200 is payable if a valid EPC is not obtained.</p>

<h3>Gas Safety Certificate (CP12)</h3>
<p>The Gas Safety (Installation & Use) Regulations 1998
    It is an annual requirement that all gas appliances, both mains and liquid i.e. Calor, are tested by a Gas Safe Register listed gas engineer.  (The Gas Safe Register replaced the requirement for engineers to be CORGI registered on 1st April 2009)  This is to ensure that the system and appliances are safe and do not pose any potential threats to the safety of a tenant.  The regulations apply to items including central heating boilers, fires, cookers, hobs, refrigerators etc.  Note that an LPG heater presents a health and safety risk due to it being a portable source of heat.  In addition it creates severe condensation and this may contribute to the dwelling being unfit for human habitation.  Landlords are strongly advised not to provide LPG heaters to their tenants.
    Any repairs highlighted by the engineer must be carried out as soon as possible, and the system should not be used until repairs are completed.  Once a valid certificate is obtained, a copy will be retained be retained by the landlord and the tenant should also be provided with a copy either before moving into the property or within 28 days of its completion.  Note that a tenant will not be allowed to move into a property without a valid CP12 certificate.
    Failure to comply with Gas Safety Regulations carries severe penalties, including fines of up to £5,000.</p>

<h3>Electrical Safety Test</h3>
<p>The Electrical Equipment (Safety) Regulations 1998
    If electrical equipment is supplied with let accommodation then it must be safe.  This applies to such items as kettles, televisions, electric cookers etc.  Full instructions on the safe and proper use of all electrical equipment supplied with the property should be provided to the tenant.  The law does not stipulate that you have to have each item of electrical equipment tested.  However, it is strongly recommended that you should consider having items tested to protect your tenant from danger and yourself from possible prosecution and/or civil litigation.
    The Plus & Sockets (Safety) Regulations 1994 state that any plug on an electrical appliance must be a ‘standard plug’ i.e., of an approved type compliant to BS 1363, with live and neutral pins sleeved and having the correct fuse rating for the appliance to which it is connected.  Mains appliances must by law be supplied fitted with a plug.
    It is recommended that a test of the electrical system and appliances in a rental property is carried out at least once every 5 years by a NICEIC approved electrician.  Any part of the system identified as potentially unsafe must be repaired immediately in order to comply with BS and EC standards.</p>

<h3>Furniture</h3>
<p>Furniture and Furnishings (Fire) (Safety) Regulations 1988 (amended 1989, 1993 & 1996)
    Upholstered furniture must comply with Regulations covering flammability. These Regulations were brought into force to reduce the number of deaths resulting from toxic fumes produced by upholstered furniture in case of fire. Furniture that does not have a permanent label attached claiming compliance with the Furniture & Fittings (Fire) (Safety) Regulations should be regarded as unsuitable. Furniture made before 1950 is exempt.
    The definition of furniture covered by the Regulations is wide. A DTI booklet, available from the Trading Standards Service, gives detailed guidance on the scope of the Regulations. The Regulations control the supply of furniture in accommodation let in the course of a business. Providers of such furnished accommodation, including Estate Agents, Letting Agencies and Landlords acting in the course of a business, have to ensure that furniture in properties governed by the Regulations complies.  If in any doubt about any particular item, please remove it from the property prior to letting. </p>

<h3>Houses in Multiple Occupation (HMO) Regulations</h3>
<p>The Licensing of Houses in Multiple Occupation (Prescribed Descriptions) (England) Order 2006
    If you rent a property that has more than 2 floors (including attic rooms and basement), it will be classed as a House of Multiple Occupancy and must be licensed as such.  For this, the property must be assessed by the local authority who will employ a risk-based assessment known as Housing Health and Safety Rating System (HHSRS), as required by the Housing Act (2004).  Houses split into flats where there are no shared bathrooms or kitchens and certain properties converted with Building Regulations 1991 do not need a licence.  Should the property satisfactorily pass the assessment, the offer of a licence will be made.  Licences generally cost between £450 and £800 and are valid for 5 years.
    If you have a property that you wish to let as an HMO, Accom 4You can provide advice and arrange necessary work to facilitate the granting of a licence.  If you already have a valid licence, we require that copy of this is provided to us prior to advertisement of the property.   Full details of the Regulations are beyond the scope of this document; please contact us if you would like any further information.
    Please be aware that failure to obtain a licence may result in prosecution and you could be fined up to £20,000 on conviction. In addition, the Residential Property Tribunal also has the power to make a Rent Repayment Order requiring that you repay up to 12 months’ rent to tenants or to the Council. If the HMO is licensable but is not licensed, a landlord cannot avoid licensing by serving a notice to quit (Housing Act 1988, Section 21) on the tenant(s) as it would be invalid.</p>

<h3>Deposit Protection</h3>
<p>Any deposit received on or after the 6th April 2008 must be protected under one of the governments approved protection schemes.  The schemes were implemented with the aim of giving more protection to both landlords and tenants, as well as providing arbitration where a dispute arises over return of the bond. Accom 4You provide deposit protection services free of charge for fully-managed properties, as well as a free inventory to help in the case of disputes.  Where a landlord opts for our tenant find only service, the landlord will be liable for protection of the bond themselves.  Landlords must therefore register for a landlord account with one of the approved providers.  An inventory can still be provided by Accom 4You but is chargeable.</p>

<h3>Smoke Detectors</h3>
<p>All new-build homes completed from June 1992 are now required to contain mains-operated smoke alarms on each floor of the property.  The Fire & Safety Officers Association recommends that battery-operated smoke alarms are fitted to hallways and stairs in all residential property.  We require that this recommendation is adhered to by landlords. </p>

