@{
    ViewBag.Title = "PropertyMaintenance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h1>Property Maintenance</h1>
    </div>
</div>

<div class="row">
    <article class="col-md-8  col-sm-8">
        <p class="lead">
            We offer a bespoke property maintenance service offering a reliable service for
            all
            property needs covering:
        </p>

        <div class="row">
            <div class="col-md-4">
                <ul>
                    <li>Plumbing</li>
                    <li>Painting & Decorating</li>
                    <li>Joinery</li>
                    <li>Roofing</li>
                    <li>Plastering</li>
                </ul>
            </div>
            <div class="col-md-8">
                <ul>
                    <li>Electrical</li>
                    <li>Gas</li>
                    <li>Gardening</li>
                    <li>Carpet fitting</li>
                    <li>Anything else needing work</li>
                </ul>
            </div>
        </div>
    </article>

    <aside class="col-md-3 col-sm-3 hidden-xs">
        <img src="~/assets/images/builder-cartoon.png" class="img-responsive" alt="builder"/>
    </aside>
</div>
