@{
    ViewBag.Title = "Sales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h1>Property for Sale</h1>
    </div>
</div>

<div class="row">
    <article class="col-md-8 col-sm-8">
        <p class="lead">We will be offering properties for sale from Autumn 2013.</p>

        <p><strong>Watch this space!</strong></p>
    </article>

    <aside class="col-md-3 col-sm-3 hidden-xs">
        <img src="~/assets/images/for%20sale%20sign.png" class="img-responsive" alt="for sale sign"/>
    </aside>

</div>