@{
    ViewBag.Title = "Tenants";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h1>For Tenants</h1>
    </div>
</div>

<p class="lead">
    We provide an extensive register of both
    <a href="~/App"><strong>Furnished and Unfurnished</strong></a>
    properties in the South Tyneside area.
    If you want to rent on a short term basis or as a more permanent move we offer tenancies from 6 months onwards although in some cases shorter terms may be available.
</p>

<h3>Important Information - Professional Lettings</h3>

<p>
    In order to reserve a property you are required to pay a non refundable administration fee of £100.00
    Upon taking up a rented property, Accom 4You will require the following: depending upon the landlord's preference, you will be required to complete a monthly standing order form. This must commence one month after the first date of your tenancy agreement. Please do not process this yourself as we need to take a copy. We will forward it to the relevant bank on your behalf. Alternatively you may be required to pay by cash or cheque. All tenants must complete an Application Form.
</p>

<p>Please note a reference will be required, and the landlord may also request a credit check before the commencement of your tenancy agreement.</p>

<p>
    You will also be required to pay a damage deposit (equivalent to one month's rent) plus one month's rent prior to the start date of your tenancy agreement. If you are paying by cheque this will normally be required 10 days before.
    All above payments must be cleared through our bank prior to the tenancy commencement date.
    It is each tenant's responsibility to ensure that the above payments and references are received in full and their contract fully signed before your tenancy agreement commences. If all parties have not done so, the tenant will be not be permitted to move in.
    Note: Prior to all tenancies, references are required as well as a holding deposit, usually £100.00.
</p>
